//Container Page(misure in percentuale)
.cont-superior {
    width: 100%;
    margin: {
        left: auto;
        right: auto;
    }
}
.container-90{
    margin: {
        left: auto;
        right: auto;
    }
    width: 90%;
}
.container-80{
    margin: {
        left: auto;
        right: auto;
    }
    width: 80%;
}
.container-70{
    margin: {
        left: auto;
        right: auto;
    }
    width: 70%;
}
.container-60{
    margin: {
        left: auto;
        right: auto;
    }
    width: 60%;
}
.container-50{
    margin: {
        left: auto;
        right: auto;
    }
    width: 50%;
}//NON VADO OLTRE IL 50% PERCHE' NON AVREBBE SENSO