@import url(/CSS/stili.scss);
//Black screen che verrà utilizzato per tutti i popup
.black-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.7;
    z-index: 1000;
}

//PopUP
//Nota: per poter utilizzare i popup assegnare le seguenti classi ai tag del popup
//la classe black-screen al tag del blackscreen
//inoltre vanno utilizzati l'id "popupAlert" e "black_screen"
.base-style {
    z-index: 1001;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    box-shadow: 3px 2px 3px #fff;
}
.close-popup {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000;
}
.popup-alert {
    @extend .base-style;
    border: 1px solid #8f8f8f;
    width: 350px;
    height: 200px;
    background-color: #8f8f8f;
    animation-name: scaleAppear;
    animation-duration: 0.2s;
    font-family: "Caudex-Regular";
}
.popup-info {
    @extend .popup-alert;
    height: 90px !important;
}
.popup-success {
    @extend .popup-alert;
    height: 120px !important;
}
//Classi di popup richiamati direttamente in Javascript
.alert-func {
    border: 1px solid #000;
    width: 350px;
    height: 100px;
    border-radius: 8px;
    background-color: #fff;
    margin: {
        left: auto;
        right: auto;
        top: 25vh;
    }
    font-family: "Roboto-Regular";
    .alert-head {
        border-bottom: 1px solid #000;
        height: 20px;
        text-align: center;
        border-radius: 8px 8px;
        text-transform: uppercase;
        background-color: rgb(0, 94, 55);
    }
    .alert-content {
        text-align: center;
        margin-top: 20px;
    }
    .btn-close {
        margin-top: 10px;
        margin-left: 150px;
        width: 40px;
    }
}
//Animazioni
@keyframes opacity {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
@keyframes scaleAppear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
