//Palette Colori
$gray-normal: #8f8f8f;
$mid-gray: #a5a5a5;
$light-gray: #f6f6f6;
$light-blue: #3b83bd;
$high-blue: #063971;
$blue-ocean: #20214f;
$yellow-high: #edff21;
$yellow-mid: #f8f32b;
$ocra-yellow: #f3da0b;
$orange-high: #ff7514;
$orange-mid: #ec7c26;
$orange-light: #ffa420;
$orange-strong: #f44611;
$orange-opaque: #efa94a;
$red-high: #cb2821;
$flame-red: #f44611;
$flame-red-high: #f54021;
$border-color: #000;
//Aggiungo una buona dose di colori(Ovviamente ne aggiungerò diversi in base a quelli che uso di solito)

//Font
/*FONT ROBOTO*/
@font-face {
    font-family: "Roboto-Black";
    src: url(/Font/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: "Roboto-Light";
    src: url(/Font/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(/Font/Roboto/Roboto-Regular.ttf);
}
.roboto-black {
    font-family: "Roboto-Black";
}
.roboto-light {
    font-family: "Roboto-Light";
}
.roboto-regular {
    font-family: "Roboto-Regular";
}
/*FONT KALAM*/
@font-face {
    font-family: "Kalam-Regular";
    src: url(/Font/Kalam/Kalam-Regular.ttf);
}
@font-face {
    font-family: "Kalam-Light";
    src: url(/Font/Kalam/Kalam-Light.ttf);
}
@font-face {
    font-family: "Kalam-Bold";
    src: url(/Font/Kalam/Kalam-Bold.ttf);
}
.kalam-bold {
    font-family: "Kalam-Bold";
}
.kalam-light {
    font-family: "Kalam-Light";
}
.kalam-regular {
    font-family: "Kalam-Regular";
}
/*FONT INSTRUCTION*/
@font-face {
    font-family: "Instruction-Bold-Italic";
    src: url(/Font/Instruction/Instruction-Bold-Italic.otf);
}
@font-face {
    font-family: "Instruction-Bold";
    src: url(/Font/Instruction/Instruction-Bold.otf);
}
@font-face {
    font-family: "Instruction-Italic";
    src: url(/Font/Instruction/Instruction-Italic.otf);
}
@font-face {
    font-family: "Instruction";
    src: url(/Font/Instruction/Instruction.otf);
}
.instruction-bold-italic {
    font-family: "Instruction-Bold-Italic";
}
.instruction-bold {
    font-family: "Instruction-Bold";
}
.instruction-italic {
    font-family: "Instruction-Italic";
}
.instruction-n {
    font-family: "Instruction";
}
/*FONT CAUDEX*/
@font-face {
    font-family: "Caudex-Bold";
    src: url(/Font/Caudex/Caudex-Bold.ttf);
}
@font-face {
    font-family: "Caudex-Bold-Italic";
    src: url(/Font/Caudex/Caudex-BoldItalic.ttf);
}
@font-face {
    font-family: "Caudex-Italic";
    src: url(/Font/Caudex/Caudex-Italic.ttf);
}
@font-face {
    font-family: "Caudex-Regular";
    src: url(/Font/Caudex/Caudex-Regular.ttf);
}
.caudex-bold {
    font-family: "Caudex-Bold";
}
.caudex-bold-italic {
    font-family: "Caudex-Bold-Italic";
}
.caudex-italic {
    font-family: "Caudex-Italic";
}
.caudex-regular {
    font-family: "Caudex-Regular";
}

//Color
.g-normal {
    color: $gray-normal;
}
.g-mid {
    color: $mid-gray;
}
.g-light {
    color: $light-gray;
}
.b-light {
    color: $light-blue;
}
.b-high {
    color: $high-blue;
}
.b-ocean {
    color: $blue-ocean;
}
.y-high {
    color: $yellow-high;
}
.y-mid {
    color: $yellow-mid;
}
.y-ocra {
    color: $ocra-yellow;
}
.o-high {
    color: $orange-high;
}
.o-mid {
    color: $orange-mid;
}
.o-light {
    color: $orange-light;
}
.o-strong {
    color: $orange-strong;
}
.o-opaque {
    color: $orange-opaque;
}
.r-high {
    color: $red-high;
}
.r-flame {
    color: $flame-red;
}
.r-flame-high {
    color: $flame-red-high;
}
//Background color
.bg-g-normal {
    background-color: $gray-normal;
}
.bg-g-mid {
    background-color: $mid-gray;
}
.bg-g-light {
    background-color: $light-gray;
}
.bg-b-light {
    background-color: $light-blue;
}
.bg-b-high {
    background-color: $high-blue;
}
.bg-b-ocean {
    background-color: $blue-ocean;
}
.bg-y-high {
    background-color: $yellow-high;
}
.bg-y-mid {
    background-color: $yellow-mid;
}
.bg-y-ocra {
    background-color: $ocra-yellow;
}
.bg-o-high {
    background-color: $orange-high;
}
.bg-o-mid {
    background-color: $orange-mid;
}
.bg-o-light {
    background-color: $orange-light;
}
.bg-o-strong {
    background-color: $orange-strong;
}
.bg-o-opaque {
    background-color: $orange-opaque;
}
.bg-r-high {
    background-color: $red-high;
}
.bg-r-flame {
    background-color: $flame-red;
}
.bg-r-flame-high {
    background-color: $flame-red-high;
}
/*______________________________________*/
//Border(Di default il color dei bordi è #000)
@mixin border-color($border-color) {
    border-color: #000;
}
.border-sol-1 {
    border: 1px solid;
    @include border-color($border-color);
}
.border-sol-2 {
    border: 2px solid;
    @include border-color($border-color);
}
.border-sol-3 {
    border: 3px solid;
    @include border-color($border-color);
}
.border-sol-4 {
    border: 4px solid;
    @include border-color($border-color);
}
.border-sol-1-g {
    @extend .border-sol-1;
    border-color: $gray-normal !important;
}
.border-sol-2-g {
    @extend .border-sol-2;
    border-color: $gray-normal !important;
}
.border-sol-3-g {
    @extend .border-sol-3;
    border-color: $gray-normal !important;
}
.border-sol-4-g {
    @extend .border-sol-4;
    border-color: $gray-normal !important;
}
